---
import Layout    from "../layouts/Layout.astro";
import Nav       from "../components/Nav.astro";
import Hero      from "../components/Hero.astro";
import TrustRow  from "../components/TrustRow.astro";
import Steps     from "../components/Steps.astro";
import Compare   from "../components/Compare.astro";
import FinalCta  from "../components/FinalCta.astro";
import Footer    from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <TrustRow />
    <Steps />
    <Compare />
    <FinalCta />
  </main>
  <Footer />
</Layout>
